.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.statsquare {
  background-color: #FA6555;
  display: inline-block;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: smaller;
}

.sprite {
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

.typetag {
  display: inline-block;
  padding: 5px;
  margin: 0px 3px;
  color: white;
  border-radius: 5px;
  font-size:x-small;
}


.navbar {
  color: yellow
}
/* #navbarScrollingDropdown {
  color:white
} */


.linkbar {
  margin: 5px;
  display: inline;
  width: fit-content;
}
.hoverable {
  background-color: grey;
}

.hoverable:hover {
  background-color: red;
}

.pokepage {
  justify-content: space-around;
  margin-top: 30px;
}
.active {
  background-color: red;
}

.label {
  background-color: red;
  color: white;
  text-align: left;
  padding: 5px;
  border-radius: 0px 0px 5px 0px;
}

.stats {
  display: inline-block;
  width: 70%;
  text-align: left;
  border-radius: 5px;
  border: 2px black solid;
}

.move, .ability {
  background-color: grey;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  font-size:x-small;
}

.bg-red {
  background-color:red;
  color: white;
}

a.bg-red:hover {
  background-color: tomato;
}

.bg-default{
  background-color:darkgray;
  color: white;
}

.bg {
  background-image: url('./imgs/pokeball-white.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 115%;
  background-position-y: center;
}
.card {
  padding: 30px;
  font-size: 90%;
  border-radius: 10px;
  text-align: left;
  color: white;
  margin: 5px 0px;
}

h2 {
  text-align: left;
  display: block;
  padding: 20px;
  border-radius: 10px;
  margin: 5px 0px;
}

a {
 text-decoration: none;
}
a:hover {
  color: white
}

div.hide {
  display: none;
}

h2.hide {
background-color: red;
}
